<!DOCTYPE html>
<html lang="ja">

<head>
<!--
http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js
-->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
  <title>鉄道 遅延情報</title>
</head>

<body>
  <div id="app">
    <h2>
      鉄道 遅延情報
    </h2>
    <section v-if="hasError">
      Error
    </section>
    <section v-else="hasError">
      <div v-if="loading">
        <img src="./img/loading.gif">
      </div>
      <div v-else>
        <ul v-cloak>
          <table border="1">
            <tbody>
              <tr>
                <th>会社名</th>
                <th>路線</th>
                <th>更新</th>
                <th>情報元</th>
              </tr>
              <tr v-for="test in bpi">
                <td>{{ test.company }}</td>
                <td>{{ test.name }}</td>
                <td>{{ unixtime_conv(test.lastupdate_gmt) }}</td>
                <td>{{ test.source }}</td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>
    </section>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
  <script>
    const { createApp } = Vue;
    var unixtime = new Date()

    const app = createApp({
      data() {
        return {
          bpi: null,
          hasError: false,
          loading: true
        }
      },
      mounted() {
        axios.get('https://tetsudo.rti-giken.jp/free/delay.json')
          .then((responce) => {
            this.bpi = responce.data

          })
          .catch((error) => {
            console.log(error)
            this.hasError = true
          })
          .finally(() => {
            this.loading = false
          })
      },
      methods: {
        unixtime_conv(value) {
          unixtime.setTime(parseInt(value)/1000)
          return unixtime.toLocaleTimeString('ja-JP')
        }
      }
    }).mount('#app')
  </script>
</body>

</html>