<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./css/index.css">
    <title>Bit Coin Price</title>
</head>

<body>
    <div id="app">
        <section v-if="hasError">
            Error
        </section>
        <section v-else="hasError">
            <div class="content" v-if="loading">
                Loading...
            </div>
            <div class="content" v-else>
                <ul v-cloak>
                    <li v-for="(rate,currency ) in bpi">
                        {{ currency }} : {{ curencyDecimal(rate.rate_float) }}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
    <script>
        const { createApp } = Vue;

        const app = createApp({
            data() {
                return {
                    bpi: null,
                    hasError: false,
                    loading: true
                }
            },
            mounted() {
                axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
                    .then((responce) => {
                        //console.log(responce.data.bpi)
                        //console.log(responce.data.bpi.USD.rate_float)
                        this.bpi = responce.data.bpi

                    })
                    .catch((error) => {
                        console.log(error)
                        this.hasError = true
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },
            methods: {
                curencyDecimal(value) {
                    return value.toFixed(2)
                }
            }
        }).mount('#app')
    </script>
</body>

</html>